/************** GENERAL STYLES *****************/
body {
  background: url('../img/heroLG.jpg') no-repeat fixed center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #363c43;
}
@media(max-width: 768px){
  body {
    background: url('../img/heroMD.jpg') no-repeat fixed center;
  }
}
section {
  padding-top: 80px;
  padding-bottom: 60px;
}
a:hover a:visited {
  color: #496d87;
}

/************** FONTS *****************/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #262b2b;
  font-weight: 700;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
h4 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/************** NAV BAR *****************/
nav {
  width: 100%;
  padding: 0 100px;
  background-color: rgba(57,74,82,0.9);
  font-size: 1.3em;
}
nav a {
  color: #c9c5b3;
}
nav a:hover {
  color: #f8f7e5;
}

/************** LANDING PAGE *****************/
.head-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 170px);
}

/************** ABOUT *****************/
section#about {
  background-color: #f8f7e5;
  text-align: center;
  height: 100vh;
}
.about-cards {
  margin: 0 auto;
  width: 80%;
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 5%;
}
.about-img {
  width: 70px;
  height: 70px;
  background-color: #485a67;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.about-cards svg, .mathart {
  width: 35px;
}

/************** SKILLS *****************/
section#skills {
  background-color: rgba(248,247,229,0.6);
  height: 100vh;
}
.skills-chart {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}
.skills-chart p {
  width: 100%;
}
.skills-chart p span:nth-child(1) {
  padding: .25em 0 .25em .5em;
  background-color: #363c43;
  color: #f8f7e5;
}
.skills-chart p span:nth-child(2) {
  padding: .25em 0 .25em .5em;
  background-color: #496d87;
  color: #496d87;
  float: right;
}
.sk-1 {
	display: inline-block;
	width: 10%;
}
.sk-2 {
	display: inline-block;
	width: 20%;
}
.sk-3 {
	display: inline-block;
	width: 30%;
}
.sk-4 {
	display: inline-block;
	width: 40%;
}
.sk-5 {
	display: inline-block;
	width: 50%;
}
.sk-6 {
	display: inline-block;
	width: 60%;
}
.sk-7 {
	display: inline-block;
	width: 70%;
}
.sk-8 {
	display: inline-block;
	width: 80%;
}
.sk-9 {
	display: inline-block;
	width: 90%;
}
.sk-10 {
	display: inline-block;
	width: 100%;
}

/************** PORTFOLIO *****************/
section#portfolio {
  background-color: #f8f7e5;
}
.port-container {
  margin: 0 auto;
  width: 85%;
}
.port-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
  grid-auto-rows: 320px;
}
.port-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.port-desc {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.port-desc ul {
  padding: 0;
}
.port-desc li {
  list-style-type: none;
  text-align: center;
}
.port-desc a {
  padding: 10px 15px;
  border: 1px solid #363c43;
  border-radius: 5px;
  color: #363c43;
  text-decoration: none;
  font-weight: 500;
}
.port-desc a:hover {
  background-color: #363c43;
  color: #f8f7e5;
}
.port-item img {
  border: 1px solid #c9c5b3;
  border-radius: 15px;
  opacity: 0.9;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.port-item:hover img {
  opacity: 0.05;
}
.port-item:hover .port-desc {
  opacity: 1;
}

/************** CONTACT *****************/
section#contact {
  background-color: #363c43;
  color: #f8f7e5;
}
.social-contact {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social-icon {
  background-color: #f8f7e5;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon a {
  border: 2px solid #363c43;
  border-radius: 10px;
  padding: 10px;
}
.social-svg {
  width: 35px;
  height: 35px;
  fill: #363c43;
}
.social-desc {
  font-size: 1em;
  text-transform: uppercase;
}
